<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    {{require('template/head.html')}}
    <title>我的订单</title>
    <link rel="stylesheet" href="css/group-order.css"/>
</head>
<body class="user-order-detail" vm-controller="group-order-detail">
    <div class="">
        <!--公共头部-->
        <header class="user-order top-header">
            <h1 class="title">订单详情</h1>
            <a href="javascript:history.back();" class="btn-back"><i class="icon icon-arrow"></i></a>
            <!--头部右边按钮 导航菜单 -->
            {{require('template/topnav.html', {'page':'user-index'})}}

        </header>

        <!--订单详情 -->
        <div page-router="" class="order-detail-content show-botm" vm-html=" data + is_logistics  + order_status  ">
            <script type="text/html">

                <% if( data && data.orderInfo ){ %>

                    <!--订单状态-->
                    <div class="order-detail-type clear">
                        <p class="order-type-p ">订单状态：
                            <%if( data.orderInfo.audit_state == 0 && data.rx_exist == 1){%>
                                <span>等待审核</span>
                            <%}else if(data.orderInfo.status=='paying'){%>
                                <span>待付款</span>
                            <%}else if(data.orderInfo.status=='shipping'){%>
                                <span>待发货</span>
                            <%}else if(data.orderInfo.status=='shipped'){%>
                                <span>待收货</span>
                            <%}else if(data.orderInfo.status=='evaluating'){%>
                                <span>待评价</span>
                            <%}else if(data.orderInfo.status=='refund'){%>
                                <span>
                                    <%if(data.orderInfo.refund_status==1){%>
	                                        	拒绝退款
                                    <%}else if(data.orderInfo.refund_status==2){%>
                                    	<% if(data.fight.gfu_state == 3){ %>
                                    		团未成，退款中
                                    	<% }else{ %>
                                    		<% if(data.fight.gfa_is_draw == 1 && data.fight.is_win){ %>
                                    			未中奖，退款中
                                    		<% }else{ %>
                                    			退款中
                                    		<% } %>
                                    	<% } %>
                                    <%}else if(data.orderInfo.refund_status==0){%>
                                    	<% if(data.fight.gfu_state == 3){ %>
                                    		团未成，退款中
                                    	<% }else{ %>
                                    		<% if(data.fight.gfa_is_draw == 1 && data.fight.is_win){ %>
                                    			未中奖，退款中
                                    		<% }else{ %>
                                    			退款中
                                    		<% } %>
                                    	<% } %>
                                    <%}else if(data.orderInfo.refund_status==3){%>
                                    	<% if(data.fight.gfu_state == 3){ %>
                                    		团未成，已退款
                                    	<% }else{ %>
                                    		<% if(data.fight.gfa_is_draw == 1 && data.fight.is_win){ %>
                                    			未中奖，已退款
                                    		<% }else{ %>
                                    			退款完成
                                    		<% } %>
                                    	<% } %>
                                    <%}else if(data.orderInfo.refund_status==4){%>
                                    	等待退货
                                    <%}%>
                                </span>
                            <%}else if(data.orderInfo.status=='finished'){%>
                                <span>交易完成</span>
                            <%}else if(data.orderInfo.status=='canceled'){%>
                                <span>订单取消</span>
                            <%}else if(data.orderInfo.status=='draw'){%>
                                <span>已成团，待抽奖</span>
                            <%}else if(data.orderInfo.status=='await'){%>
                                <span>待成团</span>
                            <%}%>
                        </p>
                        <p>订单编号：<span><%= data.orderInfo.order_sn %></span></p>
                        <p>下单时间：<span><%= changeTime(data.orderInfo.add_time,'Y-M-D H:I:S') %></span></p>
                        
                    </div>
                    <!-- 物流信息  -->
                    <% if( data.orderInfo.express_type == 0 ){ %>
                        <% if(data.orderInfo.status=='shipped' || data.orderInfo.status=='evaluating'){ %>
                        <a href="user-order-lookwl.html?id=<%= data.orderInfo.order_sn %>&payment_id=<%= data.orderInfo.payment_id %>" class="row clear order-wl-con">
                            <div class="col-11">
                                <p class="order-wl-text"><%= logistics_text || '暂无物流信息' %></p>
                                <p class="order-wl-time"><%= logistics_time || '下单时间：' + changeTime(data.orderInfo.add_time,'Y-M-D H:I:S') %></p>
                            </div>
                            <div class="col-1"><i class="icon-order-right"></i></div>
                        </a>
                        <% } %>
                    <% } %>

                    <!--申请退款的原因-->
                    <%if(data.orderInfo.status=='refund'){%>
                        <div class="order-detail-row clear">
                            <p class="back-title">退款原因</p>
                            <p class="return-msg"><%= data.orderInfo.explain %></p>
                        </div>
                    <%}%>

                    <!--用户信息-->
                    <div class="order-detail-user clear">
                        <div class="clear">
                            <i class="icon icon-order-user"></i><span><%= data.orderInfo.consignee %></span>
                            <i class="icon icon-order-phone"></i><span><%= data.orderInfo.telephone %></span>
                        </div>
                        <div class="order-detail-address"><%= data.orderInfo.province + '&nbsp;' + data.orderInfo.city + '&nbsp;' + data.orderInfo.county + '&nbsp;' + data.orderInfo.address %></div>
                    </div>

                    <!--买家留言-->
                    <% if(data.orderInfo.buyer_message){ %>
                        <div class="order-detail-row clear">
                            <p class="back-title">买家留言</p>
                            <p class="return-msg"><%=data.orderInfo.buyer_message%></p>
                        </div>
                    <% } %>

                    <!--商品详情-->
                    <div class="order-detail-product clear">
                        <p class="order-product-p ">商品详情</p>
                        <%if(data.goodsList && data.goodsList.length){%>
                            <div class="order-list-wrap">
                                <%data.goodsList.forEach(function(product){%>
                                    <a href="group-product-detail.html?group_id=<%= data.fight.gfa_id %>" class="order-detail-list clear">
                                        <div class="order-product pull-left">
                                            <span style="background-image: url(<%= product.goods_image %>)"></span>
                                        </div>
                                        <div class="order-product-msg pull-right">
                                            <p class="product-name">
                                            	<% if(data.fight.gfa_type && (data.fight.gfa_type - 0) == 1){ %>
						        					<em class="group-type">抽奖</em>
						        				<% }else if(data.fight.gfa_user_type && (data.fight.gfa_user_type - 0) == 1){ %>
						        					<em class="group-type">老带新</em>
						        				<% }else{ %>
						        					<em class="group-type">拼团</em>
						        				<% } %>
                                            	<%=product.goods_name%>
                                            </p>
                                            <p class="product-price clear">
                                                <span class="pull-left">&yen;<%=product.price%></span>
                                                <span class="product-num pull-right">&times;<%=product.goods_number%></span>
                                                <% if(product.memberTagName && product.memberTagName.length ){  %>
                                                    <span class="tag-span"><%= product.memberTagName %></span>
                                                <% } %>
                                            </p>
                                        </div>
                                    </a>
                                <%})%>
                            </div>
                        <%}%>
                        <%if(data.giftsList && data.giftsList.length){%>
                            <%data.giftsList.forEach(function(present){%>
                                <div class="row present">
                                    <div class="col-10 present-name">
                                        [赠品]<%=present.goods_name%>
                                    </div>
                                    <div class="product-num pull-right">&times;<%=present.goods_number%></div>
                                </div>
                            <%})%>
                        <%}%>
                        <a href="javascript:;" class="order-detail-kf clear" data-act="ntkf" data-param="orderid=<%= data.orderInfo.order_sn %>&orderprice=<%=data.orderInfo.left_unpaid%>">
                            <i class="icon icon-detail-kf"></i>联系客服
                        </a>
                    </div>
                    <!--支付方式-->
                    <div class="order-pay-list ">
                        
                        <div class="row">
                            <div class="col-4 text-back">发票信息</div>
                            <div class="col-8 text-gray text-r">

                                <% if( data.orderInfo.invoice_type == 1 || data.orderInfo.invoice_type == 2 ){ %>

                                    <% if( data.orderInfo.invoice_info ){ %>
                                        <%= data.orderInfo.invoice_info.title_type + '  ' + data.orderInfo.invoice_info.content_type %>
                                    <% } %>

                                <% } else if( data.orderInfo.invoice_type == 3 ) { %>
                                    电子发票
                                    <% if( data.orderInfo.e_invoice_url && data.orderInfo.e_invoice_url.length ) {   %>
                                        <a class="look-invoice " href="?invoice_list" >查看发票</a>
                                    <% } %>

                                <% } else if( data.orderInfo.invoice_type == 0 ) { %>
                                    无需发票
                                <% } %>

                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-4 text-back">支付方式</div>
                            <div class="col-8 text-gray text-r"><%= data.orderInfo.payment_name || '在线支付' %></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-back">商品总额</div>
                            <div class="col-8 text-red text-r">&yen;<%=data.orderInfo.goods_amount || '0.00' %></div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-back">余额支付</div>
                            <div class="col-8 text-red text-r">&yen;<%=data.orderInfo.balance_price || '0.00' %></div>
                        </div>
                        
                        <div class="row">
                            <div class="col-4 text-back">运费</div>
                            <div class="col-8 text-red text-r">&yen;<%=data.orderInfo.carriage || '0.00' %></div>
                        </div>
                        <div class="clear real_pay text-r">
                            <p class="text-gray">实付款：<span class="text-red">&yen;<%=data.orderInfo.left_unpaid || '0.00' %></span></p>
                            <em>下单时间：<%= changeTime(data.orderInfo.add_time,'Y-M-D H:I:S') %></em>
                        </div>
                    </div>

                    <!--按钮-->
                    <div class="clear order-detail-btn">

                        <%if(data.orderInfo.status=='paying'){%>
                            <!--付款倒计时-->
                            <p class="count-down pull-left">
                                <em>剩余付款时间</em>
                                <span data-act="count-down" data-param="time=<%= data.orderInfo.cancel_time %>">0小时0分0秒</span>
                            </p>

                            <a href="group-order-pay.html?order_id=<%=data.orderInfo.order_sn%>">马上付款</a>

                            <a href="javascript:;" class="order-detail-btn-cancel" vm-on-click="cancelOrder('<%=data.orderInfo.order_sn%>')">取消订单</a>
                           

                        <%}else if(data.orderInfo.status=='shipping'){%>
                        	<!--待发货-->
                            <a href="javascript:;">待发货</a>
                        <%}else if(data.orderInfo.status=='shipped'){%>
                            <!--待收货-->
                            <a href="javascript:;" vm-on-click="confirmOrder('<%=data.orderInfo.order_sn%>')">确认收货</a>
                            
                            <!-- TODO 2016开头订单不能退款 -->
                            <!--<% if(!/^2016/ig.test(data.orderInfo.order_sn)){ %>
                                <a href="order-apply-refund.html?id=<%= data.orderInfo.order_sn %>" >申请退款</a>
                            <% } %>-->
                            

                        <%}else if(data.orderInfo.status=='evaluating'){%>
                            <!--待评价-->
                            <% if( data.orderInfo.allow_comment == 1 ){ %>
                                <a href="user-order-share.html?order_id=<%=data.orderInfo.order_sn%>" >评价</a>
                            <% } %>
                            <a href="javascript:;" data-act="delect-order" vm-on-click="delectOrder('<%=data.orderInfo.order_sn%>')" >删除订单</a>

                        <%}else if(data.orderInfo.status=='refund'){%>
                            <!--退款-->
                            <a href="javascript:;" >
                                <%if(data.orderInfo.refund_status==1){%>
                                拒绝退款
                                <%}else if(data.orderInfo.refund_status==2){%>
                                退款中
                                <%}else if(data.orderInfo.refund_status==0){%>
                                退款中
                                <%}else if(data.orderInfo.refund_status==3){%>
                                退款完成
                                <%}else if(data.orderInfo.refund_status==4){%>
                                等待退货
                                <%}%>
                            </a>
                            <% if(data.orderInfo.refund_status==1 && data.orderInfo.refund_status==1){ %>
                            	<a href="javascript:;" vm-on-click="delectOrder('<%=data.orderInfo.order_sn%>')">删除订单</a>
                            <% } %>
                        <%}else if(data.orderInfo.status=='finished'){%>
                            <!--交易完成-->
                            <% if( data.orderInfo.allow_comment == 1 ){ %>
                                <a href="user-order-share.html?order_id=<%=data.orderInfo.order_sn%>" >查看评价</a>
                            <% } %>
                            <a href="javascript:;" vm-on-click="delectOrder('<%=data.orderInfo.order_sn%>')">删除订单</a>

                        <%}else if(data.orderInfo.status=='canceled'){%>
                            <!--订单取消-->
                            <a href="javascript:;" vm-on-click="delectOrder('<%=data.orderInfo.order_sn%>')">删除订单</a>
                        <%}else if(data.orderInfo.status=='draw'){%>
                        	
                            <a href="javascript:;" >等待抽奖</a>
                            
                        <%}else if(data.orderInfo.status=='await'){%>
                            <!--付款倒计时-->
                            <p class="count-down pull-left">
                                <em>剩余时间</em>
                                <span data-act="group-down" data-param="time=<%= data.fight.gf_end_time %>">00:00:00</span>
                            </p>
                            <a href="group-join.html?group_id=<%=data.fight.gf_id%>&&is_show=1">邀人参团</a>
                        <%}%>

                    </div>
                <% } %>
            </script>
        </div>

        <!--电子发票-->
        <div page-router="?invoice_list" class="order-invoice-content" >
            <a class="title" href="javascript:;" vm-on-click="show_invoice_desc()" ><span><i>?</i></span>关于电子发票？</a>
            <ul vm-html="e_invoice_url" >
                <script type="text/html">

                    <% if( e_invoice_url && e_invoice_url.length) {   %>
                    <% e_invoice_url.forEach(function(list,index){    %>

                        <li class="clear">
                            <span class="pull-left">发票<%= index +1 %></span>
                            <a class="pull-right" href="<%= list %>">查看</a>
                        </li>

                    <% });   %>
                    <% }  %>
                </script>
            </ul>

            <div vm-attr-class="invoice_desc?'popup popup-invoice':'hide'" class="hide">
                <div class="popup-invoice-con">
                    <div class="title">关于电子发票 <a href="javascript:;"  vm-on-click="hide_invoice_desc()">&times;</a></div>
                    <p class="invoice-title">1.什么是电子发票？</p>
                    <p class="invoice-text">电子发票是基于有效交易结果开具的电子收付款凭证，是一种发票快照或发票数据。电子发票和纸质发票具有同等法律效力，国家税务总局和各地税务机关均已出台相关政策文件予以大力支持。</p>
                    <p class="invoice-title">2.为什么同一订单有多张电子发票？</p>
                    <p class="invoice-text">单张电子发票上限额度为1000.00元，超出此金额将拆分成多张电子发票。</p>

                </div>
            </div>


        </div>

    </div>

    <script src="js/config.js"></script>
    <script>seajs.use('group-order-detail')</script>
</body>
</html>

