<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    {{require('template/head.html')}}
    <title>积分商城</title>
    <link rel="stylesheet" href="css/integral.css" />
</head>
<body>

    <div class="integral-index"  vm-controller="integral-index"  >

        <header  class="top-header">
            <h1 class="title">积分商城</h1>
            <a href="javascript:history.back();" class="btn-back"><i class="icon icon-arrow"></i></a>
            <!--头部右边按钮 导航菜单 -->
            {{require('template/topnav.html', {'page':'user-index'})}}

        </header>

        <!--内容区域-->
        <section class="integral-one">
            <div class="user-msg clear">

                <div class="user-avatar" vm-html="headimgurl">

                    <script type="text/html">
                        <span style="background-image: url(<%= headimgurl  %>)" ></span>
                    </script>

                </div>

                <a href="integral-detail.html" class="user-integral"><span vm-html="point" ></span>积分</a>
                <a href="integral-exchange.html" class="user-change">兑换记录</a>

            </div>
            <!--广告图-->
            <div vm-html="banner">
                <script type="text/html">
                    <% if(banner && banner.length){ %>
                    <div class="integral-scroll-img" data-act="swipe" >
                        <ul >
                            <% banner.forEach(function(item){ %>
                            <li >
                                <a href="<%= item.location %>" style="background-image: url(<%= item.image_url  %>)"> </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <% } %>

                </script>

            </div>

            <div class="integral-list clear">
                <a href="integral-sign.html" >
                    <div class="icon-integral-sign"></div>
                    <div>
                        <p>签到赚积分</p>
                        <p>连续签到奖励多</p>
                    </div>

                </a>

                <a href="javascript:;" vm-on-click="go_app_index()" >
                    <div class="icon-integral-shop"></div>
                    <div>
                        <p>购物返积分</p>
                        <p>消费越多返越多</p>
                    </div>
                </a>
            </div>
        </section>
        <!--超值兑换    -->
        <section class="integral-second" vm-html="exchange_recommend" >
            <script type="text/html">
                <p class="title">超值兑换</p>
                <ul >
                    <% if(exchange_recommend && exchange_recommend.length){ %>
                    <% exchange_recommend.forEach(function(item){ %>
                    <li>
                        <a href="integral-gift.html?gift_id=<%= item.id  %>&point=<%= point %>">
                            <% if( item.cover_image && item.cover_image.length ) {  %>
                                <div class="quan-type">
                                    <span style="background-image: url(<%= item.cover_image %>)"></span>
                                </div>
                            <% } else if( item.coupon ) {  %>

                                <% if( item.coupon.type=='coupon' ){  %>
                                    <!--满减-->
                                    <div class=" quan-write quan-money ">
                                        <div><span><%= item.coupon.value %></span>元</div>
                                        <div><%= item.coupon.name %></div>
                                        <div><%= item.coupon.description %></div>
                                    </div>

                                <% }  else  if( item.coupon.type=='discount' ){  %>
                                    <!--折扣 -->
                                    <div class=" quan-write quan-discount ">
                                        <div><span><%= item.coupon.value %></span>折</div>
                                        <div><%= item.coupon.name %></div>
                                        <div><%= item.coupon.description %></div>
                                    </div>

                                <% }  else  if( item.coupon.type=='free_ship' ){  %>
                                    <!--包邮-->
                                    <div class=" quan-write quan-free ">
                                        <div><span>包邮</span></div>
                                        <div><%= item.coupon.name %></div>
                                        <div><%= item.coupon.description %></div>
                                    </div>

                                <% }  %>

                            <% } %>

                            <p class="quan-p4"><%= item.points_gifts_name %></p>
                            <p class="quan-p5"><span><%= item.need_points %></span>积分</p>
                        </a>
                    </li>
                    <% }) %>
                    <% } %>
                </ul>
            </script>
        </section>
        <!--积分换好礼    -->
        <section class="integral-second" vm-html="exchange_gift" >
            <script type="text/html">
                <p class="title">积分换好礼</p>
                <ul >
                    <% if(exchange_gift && exchange_gift.length){ %>
                    <% exchange_gift.forEach(function(item){ %>
                    <li>
                        <a href="integral-gift.html?gift_id=<%= item.id  %>&point=<%= point %>">
                            <% if( item.cover_image && item.cover_image.length ) {  %>
                                <div class="quan-type">
                                    <span style="background-image: url(<%= item.cover_image %>)"></span>
                                </div>
                            <% } else if( item.coupon ) {  %>

                                <% if( item.coupon.type=='coupon' ){  %>

                                    <div class=" quan-write quan-money ">
                                        <div><span><%= item.coupon.value %></span>元</div>
                                        <div><%= item.coupon.name %></div>
                                        <div><%= item.coupon.description %></div>
                                    </div>

                                <% }  else  if( item.coupon.type=='discount' ){  %>

                                    <div class=" quan-write quan-discount ">
                                        <div><span><%= item.coupon.value %></span>折</div>
                                        <div><%= item.coupon.name %></div>
                                        <div><%= item.coupon.description %></div>
                                    </div>

                                <% }  else  if( item.coupon.type=='free_ship' ){  %>

                                    <div class=" quan-write quan-free ">
                                        <div><span>包邮</span></div>
                                        <div><%= item.coupon.name %></div>
                                        <div><%= item.coupon.description %></div>
                                    </div>

                                <% }  %>

                            <% } %>

                            <p class="quan-p4"><%= item.points_gifts_name %></p>
                            <p class="quan-p5"><span><%= item.need_points %></span>积分</p>
                        </a>
                    </li>
                    <% }) %>
                    <% } %>
                </ul>
            </script>

        </section>

    </div>

    <script src="js/config.js"></script>
    <script>seajs.use('integral-index')</script>

</body>
</html>
